<div class="container">
    <app-header></app-header>
    <br>
    <div class="row">
        <div class="col">
            <a href="https://deonsimmons.azurewebsites.net/portProj/triviaGame" target = "_blank" type="button" class="btn btn-danger btn-lg btn-block">Trivia Game</a>
            <a href="https://deonsimmons.azurewebsites.net/portProj/toDoList" target = "_blank" type="button" class="btn btn-danger btn-lg btn-block">To Do List</a>
            <a href="https://deonsimmons.azurewebsites.net/portProj/directory" target = "_blank" type="button" class="btn btn-danger btn-lg btn-block">Codestack Student Directory</a>
        </div>
        <div class="col">
            <br>
            <a href="https://deonsimmons.azurewebsites.net/portProj/webstore" target = "_blank" type="button" class="btn btn-danger btn-lg btn-block">Fictional Webstore</a>
            <a href="https://deonsimmons.azurewebsites.net/portProj/weatherApi" target = "_blank" type="button" class="btn btn-danger btn-lg btn-block">Weather Api</a>
            <a href="https://deonsimmons.azurewebsites.net/portProj/multipageWebsite" target = "_blank" type="button" class="btn btn-danger btn-lg btn-block">Game Review Collab Site</a>
            <a href="https://deonsimmons.azurewebsites.net/portProj/puppyRestaurant" target = "_blank" type="button" class="btn btn-danger btn-lg btn-block">Puppy Restaurant Collab Site</a>
        </div>
    </div>
</div>